/* COLORS: 
Dark Jungle Green: #1F271B
Blue Sapphire: #19647E
Light Sea Green: #28AFB0
Sil De Grain Yellow: #F4D35E
Big Foot Feet: #EE964B */

body {
    margin: 0 auto;
    padding: 0 auto;
}

.logo-container {
    background-color: #28AFB0;
    margin-bottom: -20px;
}

/* .logo {
    width: 30%;
} */

.mia-face {
    width: 30%;
}

.about-container {
    background-color: #19647E;
    padding-top: 20px;
    padding-bottom: 10px;
}

