/* COLORS: 
Dark Jungle Green: #1F271B
Blue Sapphire: #19647E
Light Sea Green: #28AFB0
Sil De Grain Yellow: #F4D35E
Big Foot Feet: #EE964B */

body {
    margin: 0 auto;
    padding: 0 auto;
}

.logo-container {
    background-color: #28AFB0;
    margin-bottom: -20px;
}

.mia-face {
    margin-top: 20px;
    border-radius: 5px;
}

.yellow-container {
    background-color: #F4D35E;
    height: 100px;
}

.description {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color:#F4D35E;
    margin-top: 5px;
}

.teal-container {
    background-color: #19647E;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: -20px;
}

.hello-text {
    width: 50%;
    margin-top: 15px;
}

.portfolio-container {
    background-color: #28AFB0;
    padding: 60px;
}

.portfolio-text {
    margin-top: -80px;
    margin-bottom: -50px;   
}

.contact-container {
    background-color: #19647E;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-text {
    margin-top: -40px;   
}

.card-description {
    margin-bottom: 100px;
}

.contact-info {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    color:#F4D35E;
    margin-top: -20px;
}

.contact-info-panel {
    margin-top: -130px;
}

.contact-corner {
    margin-top: -260px;
}




